body {
  margin: 0;
  font-family: "Courier New", 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, rgba(0, 0, 0, 0.548) 0%, #04C8DE 100%)
  
}

button {
  cursor: pointer;
}


